{%extends "header.html"%}
{%block title%}

Identity and Access Management



{%endblock%}

{%block style%}

<style>
  * {
      box-sizing: border-box;
  }
.carousel-indicators{
margin-top: 1rem;
position: absolute;
top: 15px;
bottom: auto;
right: 0;
z-index: 1;
display: flex;
justify-content: center;
padding-left: 0;
margin-right: 15%;
margin-left: 15%;
list-style: none;
}

 .carousel-indicators li {
list-style: none;
box-sizing: border-box;
position: relative;
flex: 0 1 auto;
width: 30px;
height: 13px;
margin-right: 3px;
margin-left: 3px;
text-indent: -999px;
cursor: pointer;
background-color: #bfa647;}

  .inard{background-color: #bfa647;}
  .carousel-control-prev-icon, .carousel-control-next-icon{color: #bfa647;}

  body {
      margin: 0;
      font-family: Arial;
  }
  
  .header {
      text-align: center;
      padding: 32px;
  }
  
  .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }
  
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentb {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#captionb {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-contentb, #captionb {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.closeb {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeb:hover,
.closeb:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-contentb {
      width: 100%;
  }
}

.row .card{margin-bottom: 15px;}

</style>

{%endblock%}


{%block body%} 

<div class="container">
<div class="card mb-4">
  
  <div class="card-body">
    
    <h1 class="card-title">
      Personal Details
    </h1>

    <h2 class="card-title">{{pp[0]}}</h2>
    
    <div class="row justify-content-center align-items-center g-2">
      <div class="col-md-4 mb-3 border-bottom"><strong>Date Of Birth : </strong> {{pp[1]}}</div>

      <div class="col-md-4 mb-3 border-bottom"><strong>Cell : </strong> {{pp[3]}}</div>
    
      <div class="col-md-4 mb-3 border-bottom"><strong>Address  : </strong> {{pp[5]}}</div>
      <div class="col-md-4 mb-3 border-bottom"><strong>National ID  : </strong> {{pp[6]}}</div>
      <div class="col-md-4 mb-3 border-bottom"><strong>Passport Number  : </strong> {{pp[7]}}</div>
      <div class="col-md-4 mb-3 border-bottom"><strong>Passport Expiry Date   : </strong> {{pp[8]}}</div>

    </div>

    <a href="{{url_for('addMedicals', person=person, info='allegies')}}" class="btn"> Add Allergy</a>
    <a href="{{url_for('addMedicals', person=person, info='test')}}" class="btn"> Add Medical Test</a>
    <a href="{{url_for('addMedicals', person=person, info='diagnosis')}}" class="btn"> Add Diagnosis</a>
    <a href="{{url_for('addMedicals', person=person, info='prescription')}}" class="btn"> Add Prescription</a>
    <a href="{{url_for('addMedicals', person=person, info='blood-type')}}" class="btn"> Add Blood Type</a>
    <a href="{{url_for('addMedicals', person=person, info='medical-condition')}}" class="btn"> Add Medical Condition</a>
  
  </div>

</div>

<div class="card mb-4 border shadow">
  
  <div class="card-body">
    
    <h1 class="card-title">

    </h1>



    <div class="row justify-content-center align-items-center g-2">
     {{allz}}
    </div>
  </div>

</div>

<div class="card mb-4 border shadow">
  
  <div class="card-body">
    
    <h1 class="card-title">

    </h1>



    <div class="row justify-content-center align-items-center g-2">

      <div class="card mb-4 border shadow col-md-4">
        <h3>Allegies</h3>

        <ul class="list-group list-group-flush">

          {%for a in allz%}

<li class="list-group-item">{{a}}</li>

          {%endfor%}



        </ul>


      </div>

      <div class="card mb-4 border shadow col-md-4">
        <h3>Medical Condition</h3>

        <ul class="list-group list-group-flush">

          {%for a in condz%}

<li class="list-group-item">{{a}}</li>

          {%endfor%}



        </ul>


      </div>


      <div class="card mb-4 border shadow col-md-4">
        <h3>Blood Type - <span class="lead"> {{bt[0]}}</span></h3>

       


       


      </div>

     



    <div class="card mb-4 border shadow col-md-6">
      <h3>Prescription</h3>

      <ul class="list-group list-group-flush">

        

        <table class="table table-striped">


          <thead>

            <th>Prescription</th>
           
            <th>Prescription Date</th>
 <th>Filled</th>
          </thead>
          {%for a in prescz%}
          <tbody>
            <td>{{a[0]}}</td>
            <td>{{a[2]}}</td>
            <td>{{a[1]}}</td>

            {%endfor%}
          </tbody>












        </table>

      



      </ul>


    </div>



    <div class="card mb-4 border shadow col-md-6">
      <h3>Diagnosis</h3>

      <ul class="list-group list-group-flush">

        

        <table class="table table-striped">


          <thead>

            <th>Diagnosis</th>
           
            <th>Diagnosis Date</th>
 
          </thead>
          {%for a in disz%}
          <tbody>
            <td>{{a[0]}}</td>
            <td>{{a[1]}}</td>
            

            {%endfor%}
          </tbody>












        </table>

      



      </ul>


    </div>




    <div class="card mb-4 border shadow col-md-6">
      <h3>Medical Tests</h3>

      <ul class="list-group list-group-flush">

        

        <table class="table table-striped">


          <thead>

            <th>Test For</th>
           
            <th>Test Date</th>
 
          </thead>
          {%for a in tstz%}
          <tbody>
            <td>{{a[0]}}</td>
            <td>{{a[1]}}</td>
            

            {%endfor%}
          </tbody>












        </table>

      



      </ul>


    </div>
   
   
    </div>
  </div>

</div>








<div class="card">
  <div class="card-body">
    <h4 class="card-title">Share Profile</h4>
    <p class="card-text">
      <button class="btn" onclick="getLink()">Generate Share Link</button>
      <div id="rnd">

      </div>
    </p>
  </div>
</div>

<!-- Some borders are removed -->



</div>

<script>
  function getLink(){

    $.ajax({
      url: "{{url_for('share',person=person)}}",
      type: "GET",
      success: function(data) {
        $("#rnd").html(data);
      }
    });
  }
</script>


   

{%endblock%}


