{%extends "header.html"%}
{%block title%}

Identity and Access Management



{%endblock%}

{%block style%}



{%endblock%}


{%block body%} 

<div class="container">
<div class="card mb-4">
  
  <div class="card-body">
    <h2 class="card-title">{{pp[0]}}</h2>
    
    <div class="row justify-content-center align-items-center g-2">
      {% if pd %}
      
        <div class="col-md-4 mb-3 border-bottom"><strong>Date Of Birth : </strong> {{pp[1]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Email : </strong> {{pp[2]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Cell : </strong> {{pp[3]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Phone  : </strong> {{pp[4]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Address  : </strong> {{pp[5]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>National ID  : </strong> {{pp[6]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Passport Number  : </strong> {{pp[7]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Passport Expiry Date   : </strong> {{pp[8]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Employed   : </strong> {{pp[9]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Highest Education   : </strong> {{pp[10]}}</div>
      
  
 
      {% else %}
                
      <div class="col-md-4 mb-3 border-bottom"><strong>Date Of Birth : </strong> {{pp[1]}}</div>
      <div class="col-md-4 mb-3 border-bottom"><strong>Email : </strong> {{pp[2]}}</div>
      <div class="col-md-4 mb-3 border-bottom"><strong>Cell : </strong> {{pp[3]}}</div>
      <div class="col-md-4 mb-3 border-bottom"><strong>National ID  : </strong> {{pp[6]}}</div>
      {% endif %}

      
      
    </div>


 
  </div>

</div>

<div class="card mb-4">
  
  <div class="card-body">
    <h2 class="card-title">Shared Documents</h2>
    
 

    <div class="row justify-content-center align-items-center g-2">
      {% for a in rez %}
      
      <div class="col-md-3">
        <div class="card">
          {%if rez[a]['Typed']!='pdf'%}
          <img class="card-img-top" src="data:image/{{rez[a]['Typed']}};base64,{{rez[a]['Document']}}" alt="{{a|capitalize}}">
          {%else%}
          <a href="{{url_for('pdfView', person=person, documen=a)}}">
            <img src="{{url_for('static',  filename ='pdf.png')}}" class="img-fluid" />
            
        </a>
          {%endif%}
          <div class="card-body">
            <h4 class="card-title">{{a|capitalize}}</h4>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>


<div class="card mb-4">
  
  <div class="card-body">
    <h2 class="card-title">Shared Medical Records</h2>
    
 

    <div class="row justify-content-center align-items-center g-2">
      {% for a in medical_data %}
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{a|capitalize}}</h4>

            {% for element in medical_data[a] %}
                {{ element }}
            {% endfor %}
            
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>




<!-- Some borders are removed -->



</div>

<script src="{{ url_for('static', filename = 'jquery-3.6.0.min.js') }}" ></script>
<script>
  $(document).ready(function() {
    $("#addReviews").hide();
   
  });

  function theHides(){
    if($("#addReviews").is(":visible")){
      $("#addReviews").css('display','None');
      $("#shower").css('display','block');

    }
    else{
      $("#addReviews").css('display','block');
      $("#shower").css('display','None');
    }
  }

function PostReview(){
  var StarRating = document.getElementById("StarRating").value;
  var ReviewComment = document.getElementById("ReviewComment").value;
  var theData = {
    "StarRating": StarRating,
    "ReviewComment": ReviewComment
  }
  $.ajax({
    url: "",
    type: "POST",
    data: theData,
    success: function(data) {
      $("#rnd").html(data);
    }
  });
}

</script>
   

{%endblock%}


