
{% if user!="Site_Admin" %}
{% extends 'dzheader.html' %}
{% else %}
{% extends 'dheader.html' %}
{% endif %}

{%block title%}

I N A R D- Add Property

    {%endblock%}
    
     
      {%block style%}
       
    
      {%endblock%}

  {%block body%}
    
<div class="container">
  <div class="card bg-light text-dark">
    <div class="card-body">
      <!--- start search container -->

      {% if riz['Status']=="Add" %}


  <form action="/addcompany/" method="post"  enctype="multipart/form-data">


   
<div class="row">
  

  <div class="form-floating mb-3 mt-3 ml-3">
    <input type="text" class="form-control" id="uniName" placeholder="Enter University Name" name="uniName">
    <label for="uniName">Company Name</label>
  </div>



  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="phone" placeholder="Company Cell" name="phone">
    <label for="phone">Company Cell</label>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="phone1" placeholder="Enter Phone" name="phone1">
    <label for="phone1" class="n-2">Phone</label>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
    <label for="email">Email</label>
  </div>

      <div class="form-floating mb-3 mt-3">
        <textarea class="form-control" id="addr" name="addr" placeholder="University's goes here"></textarea>
        <label for="addr">Address</label>
      </div>


      <div class="form-floating mb-3 mt-3">
        <select class="form-select" id="sel1" name="sellist">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
        <label for="sel1" class="form-label">Select list (select one):</label>
      </div>




      
<div style="float:right">
<button class="btn btn-outline-secondary btn-lg" type="submit">Save</button>  
</div>

    
      
      
      <!-- end search card Light card -->
    
    
    </form>



{% else %}



<div class="card-title">
  You've succesifully registered the Company


</div>

<h4>The Public Key</h4>
<p>{{ riz['Result']}}</p>




{%endif%}
    </div>
  </div>
</div>

 
  
 
{%endblock%}




