{% extends 'header.html' %}

{% block title %}
I N A R D- user registration
{% endblock %}
  

  {% block body %}
 
   


<div class="container ">
  

 
  <br>
  <br>
  <div class="d-flex aalign-items-cente p-3 justify-content-center">

<div class="card col-md-10">
  
  <div class="card-body">
    <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true" style="color: red;"></i>
    <h1>Thank you for browsing our site </h1>
    <h3> Unfortunately this page is still under construction</h3>
    <h3><strong>Please:</strong> Continue to view our other pages.</h3>
    <h3>Thank you!!!! </h3>


</div>
  </div>
</div>
</div>
{% endblock %}  