{% extends 'header.html' %}

{% block title %}
I N A R D- user registration
{% endblock %}
  

  {% block body %}
 
   


<div class="container ">
  <div class="card mb-4">
  
    <div class="card-body">
      
      {{pp}}
      <h1 class="card-title">
        Practitioner Dashboard 
      </h1>
  
      <h2 class="card-title">{{pp[0]}}</h2>
      
      <div class="row justify-content-center align-items-center g-2">
        <div class="col-md-4 mb-3 border-bottom"><strong>Date Of Birth : </strong> {{pp[1]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Email : </strong> {{pp[2]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Cell : </strong> {{pp[3]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Phone  : </strong> {{pp[4]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Address  : </strong> {{pp[5]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>National ID  : </strong> {{pp[6]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Passport Number  : </strong> {{pp[7]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Passport Expiry Date   : </strong> {{pp[8]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Employed   : </strong> {{pp[9]}}</div>
        <div class="col-md-4 mb-3 border-bottom"><strong>Highest Education   : </strong> {{pp[10]}}</div>
      </div>
  
  
    
    </div>
  
  </div>


  <div class="card mb-4">
  
    <div class="card-body">
      
      <h1 class="card-title">
        Links
      </h1>
 
      
      <div class="row justify-content-center align-items-center g-2">
        <a href="{{url_for('Uploads', person=practitioner)}}" class="btn btn-outline-primary"> Upload Docs</a>
        <a href="{{url_for('personView', person=practitioner)}}" class="btn btn-outline-primary"> View Documents</a>
        <a href="{{url_for('addMedicals', person=practitioner, info='allegies')}}" class="btn btn-outline-primary"> Add Allergy</a>
        <a href="{{url_for('addMedicals', person=practitioner, info='blood-type')}}" class="btn btn-outline-primary"> Add Blood Type</a>
        <a href="{{url_for('addMedicals', person=practitioner, info='medical-condition')}}" class="btn btn-outline-primary"> Add Medical Condition</a>
        
        <a href="{{url_for('viewMedicalRecords', person=practitioner)}}" class="btn btn-outline-primary"> View Medical Record</a>
        <a href="{{url_for('shareItems', person=practitioner)}}" class="btn btn-outline-primary"> Share Infomation</a>
  
        

      </div>
  
  
    
    </div>
  
  </div>

</div>
{% endblock %}  