{% extends 'header.html' %}

{% block title %}
I N A R D- user registration
{% endblock %}
  

  {% block body %}
 
   


<div class="container ">

     
      <h1 class="card-title">
        Log In As
      </h1>

  <div class="card mb-4">
  
    <div class="card-body">
 
 
      <h1 class="card-title">
            Registered Users
          </h1>
      <div class="row justify-content-center align-items-center g-2">
     
          
          <div class="card-body">
           {% for a in users %}
           <a href="{{url_for('hello_user', person=a)}}" class="btn btn-outline-primary"> {{a}}</a>

           {% endfor %}
           

         
        </div>
  
        
      </div>
  
  
    
    </div>
  
  </div>



  

  <div class="card mb-4">
  
    <div class="card-body">
      
    
      <div class="row justify-content-center align-items-center g-2">
   
        </div>
  
       
          <h1 class="card-title">
            Registered Practitioners
          </h1>
          <div class="card-body">
           {% for a in pracs %}
           <a href="{{url_for('hello_practitioner', practitioner=a)}}" class="btn btn-outline-primary"> {{a}}</a>

           {% endfor %}
           

        </div>

      </div>
  
  
    
    </div>
  
  </div>


</div>
{% endblock %}  