{% extends 'header.html' %}

{% block title %}
I N A R D- Log In
{% endblock %}
  

  {% block body %}
 
   


<div class="container ">
  

 
  <br>
  <br>
  <div class="d-flex aalign-items-cente p-3 justify-content-center">

<div class="card col-md-8">
  
  <div class="card-body">
    <h2>I N A R D  Admin <small>Log In</small></h2>
<form action="{{ url_for('enterd') }}" method="POST">
  <div class="form-group">
    <label for="email">Username:</label>
    <input type="text" class="form-control" id="Username" placeholder="Username" name="Username">
  </div>
  <div class="form-group">
    <label for="pwrd">Password:</label>
    <input type="password" class="form-control" id="pwrd" placeholder="Enter password" name="pwrd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>
  </div>
</div>
</div>
{% endblock %}  