{% extends 'header.html' %}

{% block title %}
I N A R D- user registration
{% endblock %}
  

  {% block body %}
 
   


<div class="container ">
  

 
  <br>
  <br>
  <div class="d-flex aalign-items-cente p-3 justify-content-center">

<div class="card col-md-8">
  
  <div class="card-body">
    <h1>Thank you for signing up </h1>
    <h3>Please click on the links sent to your email and cell to activate your account. </h3>
    <h3><strong>Note:</strong> These links expire in an hour and must be clicked before then.</h3>
    <h3>Thank you!!!! </h3>


</div>
  </div>
</div>
</div>
{% endblock %}  